a {

	text-decoration: none;
	color: inherit;

}

#email {

	font-size: 22px;

}

#grey {

	color:grey;

}

#contact {

	text-align: center;
	position:absolute;
	bottom: 0;
	left:50%;
	margin-left: -50%;
	width: 100%;
	
}

img {

	width: 200px;
	
}

#mainPage {
	
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	background-image: url("img/blackbackground.jpg");
	color: white;
	
}

body {

	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;

}

#nothing {

	font-size: 6px;

}

#adrian{

	border-radius: 50%;
	border-width:5px;	
    border-style:outset;
	border-color: grey;
	
}

#time {
	
	font-size: 250%;

}


#left {

	position:absolute;
	top: 0;
	left: -32px;

}

#right {

	position:absolute;
	top: 0;
	right: 8px;

}
