img {

	width: 200px;
	
}

body {
	
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	
}

#dandy {

	width: 550px;
	
}

#time {
	
	position:absolute;
	font-size: 250%;
	top: 0;
	left: 0;

}