body {
	
	position:relative;
	background-color: black;
	color: white;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	overflow: hidden;

}

#cursor {

	
    width: 8px;
    height: 16px;
    background: white;
	overflow: hidden;
	display: inline-block;

}

#messages{

	position:relative;
	display: inline-block;
	
}